.app{
    border:2px solid black;
    width: 250px;
    height: 300px;
    display: flex;
   margin-left: 500px;
   margin-top: 150px;
   border-radius: 10px;
}

.calculator{
   padding: 40px;
}
.calculator input{
    margin-bottom: 20px;
    padding: 10px;
}

.calculator button{
    background-color: black;
    color: white;
    margin-left: 20px;
}

.calculator .err{
    color: red;
}

.calculator .Success{
    color: green;
}